body{
  background-image: url('https://www.yourobserver.com/sites/default/files/styles/sliders_and_planned_story_image_870x580/public/150932_standard.jpeg');
 background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: border-box;


}
